<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF" />
    <meta name="viewport" content="width=device-width, initial-scale" />
    <title>Porfolio</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!----CDN SOURCES-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Niconne&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"
    />

    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <!--------------burger menu----------------------------------------------------------------->
  <header>
    <div class="menu-toggler">
      <div class="bar half start"></div>
      <div class="bar"></div>
      <div class="bar half end"></div>
    </div>
    <!---------------Navbar--------------------------------------------------------------------->
    <nav class="top-nav">
      <ul class="nav-list">
        <li>
          <a href="/" class="nav-link">Home</a>
        </li>

        <li>
          <a href="#about" class="nav-link">About</a>
        </li>
        <li>
          <a href="#opening services" class="nav-link">Services</a>
        </li>
        <li>
          <a href="#porfolio" class="nav-link">Porfolio</a>
        </li>

        <li>
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="landing-text">
      <h1>IJELYN SÆLE</h1>
      <h6>WEB DEVELOPER</h6>
    </div>
    <!------------------------------end Navbar-------------------------------------------------->
  </header>
  <body>
    <!-----------------section about--------------------------------------------------------->
    <section class="about">
      <div class="container" id="about">
        <div class="pofile-img">
          <img src="images/fpic.jpg" alt="profile" class="profile" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="about-details">
          <div class="about-heading">
            <h1>About</h1>
            <h6>Myself</h6>
          </div>
          <p>
            A simple mom who has a motivation and focus to continue her carrier
            in the world of Technology.
          </p>
          <p>I live in Norway for 6 years.</p>
          <p>
            I came from the Philippines and has a degree of Bachelor of Science
            in Computer Engineering at Western Institute of Technology Iloilo,
            Philippines.
          </p>

          <p>
            I currently finished my course in Smartstudy as Programming and
            Application Development.This course consist of Full-stack
            developers: Front-end, Back-end and Project leadership.
          </p>
          <p>You can download my CV</p>
          <div>
            <a href="images/Web Resume.pdf" download>
              <button class="btn-dl">
                <i class="fa fa-download"></i> Download CV
              </button>
            </a>
          </div>

          <div class="social-media">
            <ul class="nav-list">
              <li>
                <a
                  href="https://www.facebook.com/ijelynpearl.danila"
                  class="icon-link"
                >
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Ijelyn2" class="icon-link">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/ijelyn-saele-a1a20387/"
                  class="icon-link"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Sebhanne">
                  <i class="fab fa-github-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <!---social -media-links-------------->
        </div>
        <!--------------end class about-details-------------------------->
      </div>
      <!---------end container social media links------------------------------------------------->
    </section>
    <section>
      <div class="container" id="opening services">
        <div class="section-heading">
          <h1>Services</h1>
          <!-- <h6>Services</h6> -->
        </div>
        <!---end of section heading-->

        <div class="my-skills">
          <div class="skill">
            <div class="icon-container">
              <i class="devicon-html5-plain"></i>
            </div>

            <h1>HTML5</h1>

            <p>
              Hypertext Markup Language is the standard markup language for
              documents designed to be displayed in a web browser.
            </p>
          </div>

          <div class="skill">
            <div class="icon-container">
              <i class="fab fa-css3-alt"></i>
            </div>
            <h1>CSS</h1>
            <p>
              Stands for "Cascading Style Sheet." Cascading style sheets are
              used to format the layout of Web pages.
            </p>
          </div>
          <!---------------end skills under web development------------------------------------------->

          <div class="skill">
            <div class="icon-container">
              <i class="devicon-javascript-plain"></i>
            </div>
            <h1>Javascript</h1>
            <p>
              an object-oriented computer programming language commonly used to
              create interactive effects within web browsers.
            </p>
          </div>

          <!----html start-->

          <div class="skill">
            <div class="icon-container">
              <i class="devicon-nodejs-plain"></i>
            </div>
            <h1>Node JS</h1>
            <p>
              is an open source development platform for executing JavaScript
              code server-side.
            </p>
          </div>

          <!------------------end of skills under product strategy------------->

          <div class="skill">
            <div class="icon-container">
              <i class="devicon-mongodb-plain"></i>
            </div>
            <h1>Mongodb</h1>
            <p>
              is an open source database management system (DBMS) that uses a
              document-oriented database model which supports various forms of
              data
            </p>
          </div>
        </div>
        <!---end mongodb-->
        <!-- <div class="skill">
          <div class="icon-container">

             <i class="devicon-express-original"></i>
        </div>
        <h1>Express</h1>
        <p>
          is a web application framework for Node.js,released as free and open source software under the MIT License.
        </p>
        </div>
       </div> -->
        <!------end express--------------->
      </div>
      <!---end of the container services-->
    </section>
    <!----end of section- services------------------->

    <section class="portfolio">
      <div class="container" id="porfolio">
        <div class="section-heading">
          <h1>Portfolio</h1>
          <h6>View some of my recent work</h6>
        </div>

        <!---------end class portfolio description----------->
        <div class="portfolio-item">
          <div class="porfolio-img">
            <img
              src="images/Graphql witj nodejs.png"
              alt="Graphql"
              class="center"
            />
          </div>
          <div class="portfolio-description">
            <h1>Graphql with nodejs and express</h1>
            <p>
              GraphQL is a language that enables you to provide a complete and
              understandable description of the data in your API. Furthermore it
              gives clients the power to ask for exactly what they need and
              nothing more.
            </p>
            <p>
              In this tutorial gives me a better understanding on how to
              implement your own GraphQL server with Node.js and Express. By
              using the Express middleware express-graphql setting up a GraphQL
              server is really easy and is requiring only few lines of code.
            </p>
            <p>
              This link to my github repository.
            </p>
            <a
              href="https://github.com/Sebhanne/Graphql-server-node-js-express"
              class="cta"
              >View Details</a
            >
          </div>
        </div>
        <!-------end porfolio description  PROJECT 1--------------->

        <div class="portfolio-item">
          <div class="porfolio-img has-margin-right">
            <img src="images/mailchip 1.png" alt="mailchip" class="center" />
          </div>

          <div class="portfolio-description">
            <h1>API Mailchip</h1>
            <p>
              Mailchimp is an all-in-one marketing platform that helps you share
              emails, ads, and other messages with your audience. We call these
              messages "campaigns." When you create a campaign in Mailchimp, we
              give you lots of flexible settings and design options, as well as
              builder tools that walk you through every step of the process.
            </p>
            <p>
              "This project is an example of campaign,this company is the one
              who taught me on how to start my carrier in Norway." I use this as
              an example on how to create a campaign using mailchip with a
              subsribe under and the social media links to my accounts.
            </p>
            <a href="https://mailchi.mp/5d49e0b473e4/ijelynsaele" class="cta"
              >View Details</a
            >
          </div>
          <!-------------end porfolio description------------------->
        </div>
        <!-------end porfolio description PROJECT2------------------------->

        <div class="portfolio-item">
          <div class="porfolio-img has-margin-right">
            <img src="images/te.jpg" alt="blog" class="center" />
          </div>

          <div class="portfolio-description">
            <h1>My Blog</h1>
            <p>
              Not finish
            </p>

            <a href="https://limitless-ocean-15417.herokuapp.com/" class="cta"
              >View Details</a
            >
          </div>
        </div>
        <!-------------end porfolio description--project3----------------->
      </div>
      <!---------------end of container------------------->
    </section>
    <!-------------------------end sEction porfolio-------------------------------------->

    <section class="contact" id="contact">
      <div class="container">
        <div class="section-heading">
          <h1>Contact</h1>
          <h6>Lets work together</h6>
        </div>
        <form
          id="gform"
          method="POST"
          class="pure-form pure-form-stacked"
          data-email="from_email@example.com"
          action="https://script.google.com/macros/s/AKfycbwZpK_xdGQpDhbw3BJVfMDPeCJ3v9-KxSimRDRBFw/exec"
        >
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name...."
            required
          />

          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email...."
            required
          />

          <!-- <label for="service">Services:</label>
          <select name="services " id="service">
            <option value="Web Design"></option>
            <option value="Web Development"></option>
            <option value="Web Design/Development"></option>
          </select> -->
          <label for="subject">Subject:</label>
          <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
          <input type="submit" value="Submit" />
        </form>
        <!------end of form----------------------------->
      </div>
      <!------end of container------------------------------>
    </section>
    <!-------end of section contact---------------------------------->
    <footer class="copyright">
      <!-- <div class="up" id="up">
               <i class="fas fa-chevron-up"></i>
           </div> -->
      <p>&copy; 2019 Ijelyn Saele</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script src="javascripts/main.js"></script>
  </body>
</html>
